@charset "ISO-8859-1";@charset "ISO-8859-1";

body {
	
	background:url("http://i64.tinypic.com/5dq9o8.jpg");
	background-size: cover;
	background-position: center;
	
}

#content{
	padding-top:17%;
	text-align:center;
	color:#fff;
	font-family: 'Lobster', cursive;
}

form{
	font-size:1.5em;
}

ul li{
	list-style:none;
	font-family: 'Lato', sans-serif;
}


.btn-default:hover{
	background-color: black;
	