@charset "ISO-8859-1";

body{
	
	color:#fff;
	
	
}

.header{
	height:100vh;
	background-image: url("http://i65.tinypic.com/30mqxrn.png");
	background-size: cover;
	font-family: 'Lobster', cursive;
	
}

ul li{
	list-style:none;
}

input[type=text]{
	width:100%;
	box-sizing: border-box;
	clear:both;
}

h2{
	text-align:center;
	font-size: 40px;
}

.in{
	font-size:1.5em;
	font-family: 'Lato', sans-serif;
		

}

.Login-form{
	font-size: 1.3em;
	position:relative;
	top:50%;
	left:50%;
	
	
}


.login{
	margin:auto;
}

.btn-default:hover{
	background-color: black;
	color: white;
	
	
}
