@charset "ISO-8859-1";

body{
	
	color:#fff;
	
	
}

.header{
	height:100vh;
	background-image:linear-gradient(to right ,rgba(155, 193, 255, 0.8), rgba(0, 73, 193, 0.8)), url("https://images.unsplash.com/photo-1481495278953-0967c9759b78?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4db1b29cf02094b71d54212d4e7a507f&auto=format&fit=crop&w=1951&q=80");
	background-size: cover;
	font-family: 'Lobster', cursive;
	
}

ul li{
	list-style:none;
}

input[type=text]{
	width:100%;
	box-sizing: border-box;
	clear:both;
}

h2{
	text-align:center;
	font-size: 40px;
}

.in{
	font-size:1.5em;
	font-family: 'Lato', sans-serif;
		

}

.Login-form{
	font-size: 1.3em;
	position:relative;
	top:50%;
	left:50%;
	
	
}


.login{
	margin:auto;
}

.btn-default:hover{
	background-color: black;
	color: white;
	
	
}
