@charset "ISO-8859-1";

body{
	background: url("http://i64.tinypic.com/r08qqa.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	
}


.header{
	width: 100%;
	height: 20%;
	font-family: 'Lobster', cursive;;
	text-align: center;
	font-size: 2em;
	color: white;
	padding-top: 30px;
}

.box{
	margin-top:10px;
	height: 40%;
	width:100%;
}

.card{
	width: 24%;
	height: 400px;
	float:right;
	display: inline;
	padding: none;
	margin-right:5px;
	text-align: center;
	background-color: #5D6D7E  ;
	
}



.text{
	height:60%;
	width:100%;
	font-family: 'Oswald', sans-serif;
	color:white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}