@charset "ISO-8859-1";

body {
	
	background: url(http://i65.tinypic.com/30mqxrn.png);
	background-size: cover;

	
}

#content{
	padding-top:17%;
	text-align:center;
	color:#fff;
	font-family: 'Lobster', cursive;
}

form{
	font-size:1.5em;
}

ul li{
	list-style:none;
	font-family: 'Lato', sans-serif;
}


.btn-default:hover{
	background-color: black;
	color: white;
}